.footer {
  background-color: #1f2937;
  color: white;
  padding: 1rem 2rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer-section .footer-section-title {
  font-size: large;
}

.footer-section span {
  font-size: small;
}

.footer-section a {
  color: white;
  text-decoration: none;
  font-size: small;
}

.footer-section .footer-section-reseaux{
  display: flex;
  gap: 5px;
}

.footer-section .footer-section-reseaux a{
  color: #484d53;
  font-size: 25px;
}

.footer-section .footer-section-reseaux a:hover{
  color: #707881;
  font-size: 25px;
}