.page__bannerImg {
  width: 100%;
  display: block;
  object-fit: cover;
  max-height: 280px;
}

.page__header {
  padding: 24px 16px 0;
 display: flex;
 flex-direction: column;
 align-items: center;

}

.page__body {
  padding: 16px;
}

hr.page-divider {
  width: 20%;
  border: none;
  height: 4px;
  background-color:  #0d6efd ;
  margin-top: 16px;
  opacity: 1;
}

.page-title {
font-weight: bold;

}